@media (max-width: 1220px) {
    .documents__content {
        flex-direction: column;
        align-items: center;
    }

    .documents__items {
        margin-top: -120px;
    }

    .documents__button {
        width: 412px;
    }

    .footer__top {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 950px) {
    
    ul.footer__list li {
        display: block;
        margin-top: 15px;
    }

    .footer__phone {
        margin-left: 46px;
    }

    .footer__mail {
        margin-left: 110px;
    }
}

@media (max-width: 750px) {
    
    body {
        margin-left: 10px;
    }
    
    .documents__example img{
        width: 350px;
    }

    .documents__title {
        font-size: 25px;
    }

    .documents__text {
        font-size: 16px;
    }

    .documents__title-bottom {
        font-size: 17px;
    }

    .documents__li {
        font-size: 14px;
    }

    .documents__inputs input {
        width: 300px;
    }

    .documents__button {
        width: 300px;
    }

    ul.footer__list li {
        display: block;
        text-align: center;
        margin: 0;
        margin-bottom: 12px;
    }

    .footer__adress {
        font-size: 14px;
        margin: 0;
    }

    .footer__phone {
        font-size: 16px;
        margin: 0;
    }

    .footer__mail {
        font-size: 16px;
        margin: 0;
    }

    .footer__bottom {
        font-size: 13px;
        
    }

    .footer__list{
        padding: 0;
    }


}