* {
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}

            /*HEADER*/

.header__top {
    position: relative;
    display: flex;
    padding: 15px 0px;
}

.header__top_icon {
    background: #F9F9F9;
    border-radius: 6px;
    padding: 14px;
    max-width: 55px;
    max-height: 55px;
    margin-right: 15px;
}
/*добавил зеленый бордер при наводке на кнопку,это не обязательно,так что если что,то можно удалить*/
.header__top_icon:hover {
    padding: 12px;
    border: 2px solid #28D347FF;
}

.header__top_contacts {
   display: flex;
   justify-content: space-around;
   margin: auto auto auto 0px;
}

.header__top_phone,
 .header__top_workTime,
  .header__top_address {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 194.69%;
    color: #000000;
}

/*подчеркивание номера телефона при наводке,можно удалит,если не нужно*/
.header__top_phone:hover {
    text-decoration: underline 2px #000000;
}

.header__top_workTime {
    font-weight: normal;
    color: #808080;
    margin-left: 2%;
}

.header__top_address {
    font-weight: normal;
    color: #505050; 
    margin-top: -10px;   
}

.header__top > img {
    height: 61px;
    width: 123px;
    vertical-align: middle;
}

.header__top_btn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 194.69%;
    color: #2A3A61;
    text-decoration: none;
    border: 2px solid #F4E2BB;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 11px 22px;
    margin: auto 0px auto auto;
}

/*добавил синие подчеркивание и бордер для кнопки,если чтоЮможно удалить*/
.header__top_btn:hover {
   text-decoration: underline #2A3A61 2px;
   border: 2px solid #2A3A61;
   transition: .2s linear;
}

.header__nav {
    background: #2A3A61;
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.header__nav > .container > nav > a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 194.69%;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0px 12px;
}