
* {
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}

            /*HEADER*/

.header__top {
    position: relative;
    display: flex;
    padding: 15px 0px;
}

.header__top_icon {
    background: #F9F9F9;
    border-radius: 6px;
    padding: 14px;
    max-width: 55px;
    max-height: 55px;
    margin-right: 15px;
}
/*добавил зеленый бордер при наводке на кнопку,это не обязательно,так что если что,то можно удалить*/
.header__top_icon:hover {
    padding: 12px;
    border: 2px solid #28D347FF;
}

.header__top_contacts {
   display: flex;
   justify-content: space-around;
   margin: auto auto auto 0px;
}

.header__top_phone,
 .header__top_workTime,
  .header__top_address {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 194.69%;
    color: #000000;
}

/*подчеркивание номера телефона при наводке,можно удалит,если не нужно*/
.header__top_phone:hover {
    text-decoration: underline 2px #000000;
}

.header__top_workTime {
    font-weight: normal;
    color: #808080;
    margin-left: 2%;
}

.header__top_address {
    font-weight: normal;
    color: #505050; 
    margin-top: -10px;   
}

.header__top > img {
    height: 61px;
    width: 123px;
    vertical-align: middle;
}

.header__top_btn {
    font-family: 'Open Sans';
}
.documents__content {
    display: flex;
    justify-content: center;
}

.documents__example {
    margin-right: 35px;
}

.documents__title-box {
    margin-top: 119px;
}

.documents__title {
    font-family: Literata;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 110%;
    color: #2A3A61;
}

p {
    margin: 0;
}

.documents__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    color: #646464;
    margin-bottom: auto;
}

.documents__title-bottom {
    font-family: Literata;
    font-size: 26px;
    line-height: 120%;
    color: #2A3A61;
    margin-bottom: 30px;
}

.documents__li {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: #505050;
    list-style: decimal;
}


.documents__inputs input {
    display: flex;
    flex-direction: column;
    border: 2px solid #F0F0F0;
    box-sizing: border-box;
    width: 412px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 194.69%;
    color: #AAAAAA;
    padding-top: 9px;
    padding-bottom: 11px;
    margin-top: 25px;
    margin-bottom: -10px;
}

.documents__button {
    width: 176px;
    height: 55px;
    background: #324B8C;
    border-radius: 4px;
    margin-top: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 194.69%;
    color: #2A3A61;
    text-decoration: none;
    border: 2px solid #F4E2BB;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 11px 22px;
    margin: auto 0px auto auto;
}

/*добавил синие подчеркивание и бордер для кнопки,если чтоЮможно удалить*/
.header__top_btn:hover {
   text-decoration: underline #2A3A61 2px;
   border: 2px solid #2A3A61;
   transition: .2s linear;
}

.header__nav {
    background: #2A3A61;
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.header__nav > .container > nav > a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 194.69%;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0px 12px;
}

.main__slide{
    position: relative;
    background-image: url(../img/main-slider.png);
    width: 100vw;
    height: 565px;
    overflow: hidden;
}
.main__top {
    font-family: Literata;
    font-size: 72px;
    line-height: 90%;
    width: 657px;
    color: #fff;
    margin-bottom: 24px;
}
.main__bot{
    font-family: Literata;
    font-size: 26px;
    line-height: 120%;
    color: #fff;
    margin-bottom: 36px;
}
.main__button span{
    font-family: Open sans;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}
.main__button{
    background-color: #324B8C;
    border-radius: 4px;
    padding: 11px 23px 13px;
    width: 138px;
    text-decoration: none;

}
.main__title{
    position: absolute;
    top: 70px;
    left: 372px;
}
.slick__dots{
    position: absolute;
    bottom: 0;
    display: flex;
    list-style-type: square;
}
.slick__dots button{
    /* opacity: 0; */
}
