* {
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}

            /*HEADER*/

.header__top {
    position: relative;
    display: flex;
    padding: 15px 0px;
}

.header__top_icon {
    background: #F9F9F9;
    border-radius: 6px;
    padding: 14px;
    max-width: 55px;
    max-height: 55px;
    margin-right: 15px;
}
/*добавил зеленый бордер при наводке на кнопку,это не обязательно,так что если что,то можно удалить*/
.header__top_icon:hover {
    padding: 12px;
    border: 2px solid #28D347FF;
}

.header__top_contacts {
   display: flex;
   justify-content: space-around;
   margin: auto auto auto 0px;
}

.header__top_phone,
 .header__top_workTime,
  .header__top_address {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 194.69%;
    color: #000000;
}

/*подчеркивание номера телефона при наводке,можно удалит,если не нужно*/
.header__top_phone:hover {
    text-decoration: underline 2px #000000;
}

.header__top_workTime {
    font-weight: normal;
    color: #808080;
    margin-left: 2%;
}

.header__top_address {
    font-weight: normal;
    color: #505050; 
    margin-top: -10px;   
}

.header__top > img {
    height: 61px;
    width: 123px;
    vertical-align: middle;
}

.header__top_btn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 194.69%;
    color: #2A3A61;
    text-decoration: none;
    border: 2px solid #F4E2BB;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 11px 22px;
    margin: auto 0px auto auto;
}

/*добавил синие подчеркивание и бордер для кнопки,если чтоЮможно удалить*/
.header__top_btn:hover {
   text-decoration: underline #2A3A61 2px;
   border: 2px solid #2A3A61;
   transition: .2s linear;
}

.header__nav {
    background: #2A3A61;
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.header__nav > .container > nav > a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 194.69%;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0px 12px;
}

.main__slide{
    position: relative;
    background-image: url(../img/main-slider.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 565px;
    overflow: hidden;
    outline: none;
}
.main__top {
    font-family: Literata;
    font-size: 72px;
    line-height: 90%;
    width: 657px;
    color: #fff;
    margin-bottom: 24px;
}
.main__bot{
    font-family: Literata;
    font-size: 26px;
    line-height: 120%;
    color: #fff;
    margin-bottom: 36px;
    opacity: 0.8;
}
.main__button span{
    font-family: Open sans;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}
.main__button{
    background-color: #324B8C;
    border-radius: 4px;
    padding: 11px 23px 13px;
    width: 138px;
    text-decoration: none;
    outline: none;
}
.main__title{
    position: absolute;
    top: 70px;
    left: 372px;
}
.slick__dots{
    position: absolute;
    bottom: 0;
    display: flex;
    list-style-type: none;
    left: 743px;
    bottom: 27px;
    padding: 0;
}
.slick__dots li{
    margin-right: 10px;
}
.slick__dots li button{
    color: #fff;
    opacity: 0.3;
    width: 138px;
    height: 3px;
    font-size: 0;
}
.slick__dots li.slick-active button{
    color: #fff;
    opacity: 0.8;
}
.about__block{
    width: 1170px;
    margin: 82px auto 0;
    text-align: center;
}
.about__header_top{
    font-family: Literata;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #2A3A61;
    margin-bottom: 26px;
}
.about__header_bot{
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 400px;
    line-height: 31px;
    text-align: justify;
    margin-bottom: 46px;
}
.about__elements{
    display: flex;
    flex-wrap: wrap;
}
.about__element{
    padding: 42px 33px 37px 39px;
    font-family: Open Sans;
    font-size: 18px;
    text-align: left;
    line-height: 27px;
    display: flex;
    align-items: center;
    width: 575px;
    height: 160px;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 10px;
}
.about__element img{
    margin-right: 36px;
}
.demands__block{
    background-image: url(../img/demands/demands.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 348px;
    text-align: center;
    position: relative;
    padding-top: 64px;
}
.demands__header{
    width: 1168px;
    margin:  auto;
}
.demands__header_top{
    font-family: Literata;
    font-weight: 700;
    font-size: 36px;
    line-height: 110%;
    color: #2A3A61;
    margin-bottom: 21px;
}
.demands__header_bot{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: #646464;
    margin-bottom: 42px;
}
.demands__form{
    display: flex;
    justify-content: space-around;
    font-family: Open Sans;
    width: 1094px;
    margin: 0 auto;
}
.demands__form_input{
    font-size: 18px;
    border: 2px solid #F0F0F0;
    outline: none;
    padding: 9px 21px 11px;
    width: 404px;
}
.demands__form_submit{
    font-weight: 700;
    font-size: 16px;
    line-height: 195%;
    padding: 11px 23px 13px;
    background-color: #324B8C;
    border-radius: 4px;
    border: none;
    color: #fff;
}

.documents__content {
    display: flex;
    justify-content: center;
}

.documents__example {
    margin-right: 35px;
}

.documents__title-box {
    margin-top: 119px;
}

.documents__title {
    font-family: Literata;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 110%;
    color: #2A3A61;
}

p {
    margin: 0;
}

.documents__text {
    margin-top: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    color: #646464;
    margin-bottom: auto;
}

.documents__title-box-bottom {
    margin-top: 30px;
}

.documents__title-bottom {
    font-family: Literata;
    font-size: 26px;
    line-height: 120%;
    color: #2A3A61;
    margin-bottom: 30px;
}

.documents__li {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: #505050;
    list-style: decimal;
}


.documents__inputs input {
    display: flex;
    flex-direction: column;
    border: 2px solid #F0F0F0;
    box-sizing: border-box;
    width: 412px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 194.69%;
    color: #AAAAAA;
    padding-top: 9px;
    padding-bottom: 11px;
    margin-top: 25px;
    margin-bottom: -10px;
}

.documents__button {
    width: 176px;
    height: 55px;
    background: #324B8C;
    border-radius: 4px;
    margin-top: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 194.69%;
    color: #FFFFFF;
    border: 0;
}

.footer__top {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.footer__logo {
    width: 106px;
    height: 52px;
}

ul.footer__list li {
    display: inline;
    margin-right: 45px;
}

a {
    text-decoration: none;
    margin-right: 6px;
}

.footer__list {
    font-family: Open Sans;
}

.footer__adress {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.footer__phone {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.footer__links {
    margin-top: 15px;
}

.footer__bottom {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #AAAAAA;
    text-align: center;
    line-height: 180%;
    overflow-wrap: break-word;
    margin-bottom: 15px;
}



/*-----------buhhalteria-------------*/


.offer__top {
    display: flex;
    flex-direction: column;
}

.offer__title {
    text-align: center;
    font-family: Literata;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 110%;
    color: #2A3A61;
    margin-bottom: 20px;
}

.offer__text {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    color: #646464;
    margin-bottom: 36px;
}

.offer__blocks__text, .offer__error__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    display: flex;
    align-items: center;
    margin-left: 10px;

}

.offer__blocks {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.offer__consultations, .offer__bookkeeping, .offer__reports, .offer__legal, .offer__taxes, .offer__recovery {
    flex:1 1 calc(33.33% - 30px); /* отнимем margin и скажем растягиваться */
    margin:10px;
    /*background:#b5ced8;*/
    flex-direction: row;
    display: flex;
    padding: 28px;
}

.offer_blocks__img {
    margin-top: 5px;
}

.offer__error {
    margin:10px;
    padding: 28px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.offer__error__text {
    width: 232px
}

.faq__title {
    font-family: Literata;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 110%;
    text-align: center;
    color: #2A3A61;
}

.faq__questions__block {
    display: flex;
    flex-direction: column;
    padding: 70px;
    margin-top: 10px;
}

.faq__questions__prog, .faq__questions__bookkeeping, .faq__questions__tax, .faq__questions__documentation {
    font-family: Literata;
    font-size: 26px;
    line-height: 120%;
    color: #2A3A61;
    margin-top: 50px;
}

.faq__text__prog, .faq__text__bookkeeping, .faq__text__tax, .faq__text__documentation {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    display: flex;
    align-items: center;
    color: #808080;
    margin-top: 5px;
}

.faq__button {
    width: 311px;
    height: 55px;
    background: #324B8C;
    border-radius: 4px;
    margin-top: 40px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 194.69%;
    color: #FFFFFF;
    border: 0;
    margin-left: auto;
    margin-right: auto
}