
@media (max-width: 1150px) {
    .accountingSupport__about {
        display: flex;
        flex-direction: column;
        padding: 0px 10px ;
    }

    .whyOutsourcing > div {
        white-space: normal;
        flex-direction: column;
        text-align: center;
    }

    .whyOutsourcing__text {
        padding: 0px 10px 15px 10px !important;
    }

    
}

@media (min-width: 1100px) {
    .header__top_viberIcon {
        visibility: hidden;
    }

    .header__top_contacts {
        max-width: 55px;
    }
}

@media (max-width: 1100px) {
    .header__top {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .header__top_contacts {
        margin-top: -56px;
    }

    .header__top_whatsappIcon {
        margin-right: 100px;
    }

    .header__top_viberIcon {
        margin-left: 100px;
    }

    .header__top > img {
        position: relative;
        order: -1;
        margin: auto;
        left: auto;
        right: auto;
    }

    .header__top_contactsText {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 13px;
    }

    .header__top_btn {
        margin: auto;
        margin-bottom: -15px;
    }
}

@media (max-width: 830px) {

    .areUbancrupt__form {
        margin-top: 65px;
    }

    .areUbancrupt__form_top {
        margin-bottom: 46px;
    }

    .areUbancrupt__form_checkBoxes {
        flex-direction: column;
        margin-bottom: 35px;
    }

    .areUbancrupt__form_checkBoxesBlock {
        margin-top: -2px;
    }

    .areUbancrupt__form_sending_form {
        flex-direction: column;
    }

    .whyOutsourcing > div {
        white-space: normal;
        flex-direction: column;
        text-align: center;
    }

    .whyOutsourcing__form_sending_form {
        flex-direction: column;
    }

    .servicesForBusiness__form {
        flex-direction: column;
    }

    .accountingSupport__about {
        display: flex;
        flex-direction: column;
        padding: 0px 10px ;
    }

    .accountingSupport__btn {
        visibility: hidden;
    }

    .accountingSupport__about_brick {
        padding-left: 10px;
    }

}

@media (max-width: 793px) {
    .header__top_workTime,
    .header__top_address {
        font-size: 14px;
    }

    .header__top_btn {
        font-size: 14px !important;
        
    }

    .header__nav > .container > nav > a {
        font-size: 16px;
    }

    .areUbancrupt__form {
        margin: 65px 10px 40px 10px;
    }

    .areUbancrupt__form_top :nth-child(1) {
        font-size: 25px;
    }

    .areUbancrupt__form_top :nth-child(2) {
        font-size: 16px;
        margin-bottom: 58px;
    }

    .areUbancrupt__form_checkBoxesBlock_h1 {
        font-size: 17px;
    }

    .areUbancrupt__form_checkBoxesBlock_text {
        font-size: 14px;
    }

    .areUbancrupt__checkBox {
        font-size: 14px;
    }

    .checkBox:checked + span {
        font-size: 14px;
    }

    .areUbancrupt__form_input {
        font-size: 16px;
    }

    .areUbancrupt__form_submit {
        font-size: 14px;
    }

    .accountingSupport__top :nth-child(1) {
        font-size: 25px;
    }

    .accountingSupport__top :nth-child(2) {
        font-size: 16px;
    }

    .accountingSupport__about_brickText_1,
     .accountingSupport__about_brickText_2 {
        font-size: 14px;
    }

    .whyOutsourcing__h1 {
        font-size: 25px;
    }

    .whyOutsourcing > div {
        font-size: 16px;
    }

    .whyOutsourcing__form_input {
        font-size: 16px;
    }

    .whyOutsourcing__form_submit {
        font-size: 14px;
    }

    .servicesForBusiness__top :nth-child(1) {
        font-size: 25px;
    }

    .servicesForBusiness__top :nth-child(2) {
        font-size: 16px;
        padding: 0px 10px;
    }

    .servicesForBusiness__form_input {
        font-size: 16px;
    }

    .servicesForBusiness__form_submit {
        font-size: 14px;
    }

    .servicesForBusiness__allServices_h1 {
        font-size: 25px;
    }

    .servicesForBusiness__allServices_Brick_h1 {
        font-size: 14px;
    }

    .servicesForBusiness__allServices_Brick_text {
        font-size: 14px;
    }

}